body {
    background-color: #16151b;
}

.menuLogo {
    background-color: #4b4a4f;
    border-radius: 100%;
}

.Link {
    color: white;
    text-decoration: none;
}

.countItemBtn {
    border: 1px solid #00c61b;
    color: #00c61b;
    cursor: pointer;
}

.col1{
    width: 5rem;
}

.addBtn{
    width: 5rem;
} 

.itemDetailContainer {
    overflow: hidden;
}

.cardImage {
    object-fit: cover;
}

.categoryDropdown {
    background: none;
}

.menuNavbar {
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px -10px 15px 10px black;
    background-color: #16151b;
}

input {
    font-weight: 500;
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
    border: none;
    color: rgb(67, 67, 67);
    /* width: 100%; */
}
input:focus {
    border: none;
    outline: none;
}

.orderItemsCount {
    border-radius: 100px;
    bottom: 15px;
    left: 13px;
    font-size: xx-small;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.menuInfo {
    width: 20rem;
    /* box-shadow: 0px 0px 5px; */
}

.roomeatsLogo {
    height: 3rem;
    width:3rem;
    /* border-radius: 100%; */
}

.addItemButton {
    width: 4rem;
}

.itemImgInfo {
    overflow: hidden;
}

.menuContainer {
    overflow-y: scroll;
    /* position: fixed; */
    height: 100%;
}

.itemContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.nav-category-container {
    overflow-x: scroll;
    scrollbar-width: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #f9dd94;
    
}
.nav-category-container::-webkit-scrollbar {
    display: none;
} 

.nav-category-item {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #f9dd94;
}
.nav-category-item:hover {
    background-color: #fff;
    color: #000000;
    cursor: pointer;
}

.search-container {
    position: relative;
}
.search-container input {
    padding-right: 2rem;
    border: 2px solid #ccc;
    background: transparent;
}

.search-icon {
    position: absolute;
    top: 20%;
    right: 2%;
    cursor: pointer;
}

.menu-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.mobile-sidebar {
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 1;
    padding-right: 30%;
    background-color: rgba(0, 0, 0, 0.363);
}

.mobile-sidebar-item-container {
    overflow-y: scroll;
}

.variable-item-container {
    height: 90%;
}

.sidebar-item-container {
    overflow-y: scroll;
}

.menu-input{
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    :focus{
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }
}
 
@media (max-width: 576px) {
    .imageContainer {
        object-fit: cover;
        height: 5rem;
        width: 5rem;
    }

    .cardImage {
        border-radius: 5px;
    }

    .itemDetailContainer h6 {
        padding: 0;
        margin: 0;
    }
    .itemDetailContainer p {
        padding: 0;
        margin: 0;
    }
    .cardDetailContainer {
        background-color: transparent;
    }
}