body {
    background-color: #16151b;
}

.menuLogo {
    background-color: #4b4a4f;
    border-radius: 100%;
}

.Link {
    color: white;
    text-decoration: none;
}

.countItemBtn {
    border: 1px solid #00c61b;
    color: #00c61b;
    cursor: pointer;
}

.col1{
    width: 5rem;
}

.addBtn{
    width: 5rem;
} 

.itemDetailContainer {
    overflow: hidden;
}

.cardImage {
    object-fit: cover;
}

.categoryDropdown {
    background: none;
    /* background-color: transparent; */
}

input {
    padding-left: 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.781);
    border: none;
    color: rgb(194, 194, 194);
    width: 100%;
}
input:focus {
    border: none;
    outline: none;
}
 
@media (max-width: 576px) {
    .imageContainer {
        object-fit: cover;
        height: 5rem;
        width: 5rem;
    }

    .cardImage {
        border-radius: 5px;
    }

    .itemDetailContainer h6 {
        padding: 0;
        margin: 0;
    }
    .itemDetailContainer p {
        padding: 0;
        margin: 0;
    }
    .cardDetailContainer {
        background-color: transparent;
    }
}