.homeContainer {
    height: 100vh;
    background-color: #2f2770;
}

.orderButton {
    background-color: #00c61b;
    border-radius: 10rem;
}

.Button {
    background-color: green;
    border-radius: 10rem;
}