body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg_Primary {
  background-color: #2f2770;
}

.bg_Dark {
  background-color: #16151b;
}

.textPrimary {
  color: #00c61b;
}

.bg_Success {
  background-color: #00c61b;
}

.bg_LightDark {
  background-color: #28272f;;
}

.borderSuccess {
  border-color: #00c61b;
}

.basicButton {
  display: flex;
  align-items: center;
  padding: 5px;
  border: none;
  border-radius: 7px;
  font-weight: 500;
  /* outline: none; */
}

.primaryButton {
  /* bg_Success w-100 border-0 text-light p-2 px-5 */
  background-color: #00c61b;
  width: 100%;
  border: 0px;
  color: white;
  padding: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.colorLightGray {
  color: #919199;
}

.bottomButton {
  position: absolute;
  bottom: 0;
  max-width: 20rem;
  left: auto;
  right: inherit;
}

.fixedNavbar {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0px -10px 15px 10px black;
  background-color: #16151b;
}

.no-underline {
  text-decoration: none;
}