body {
    background-color: #16151b;
}
.paymentContainer {
    min-height: 100vh;
}
.menuLogo {
    background-color: #4b4a4f;
    border-radius: 100%;
}

.paymentMethods {
    max-width: 20rem;
}

.paymentLogo{
    width: 2rem;
}