.cardContainer {
    /* position:fixed; */
    overflow-y: scroll;
    height: 100%;
}

.orderControlContainer {
    position: absolute;
    bottom: 2rem;
    /* left: 50%; */
}

.menuContainer {
    position: relative;
    height: 100%;
}

.text-description{
    font-size: 14px;
    font-weight: 400;
    color: #3C3C3C;
}